[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "dependencies/googletest"]
	path = dependencies/googletest
	url = https://github.com/google/googletest.git
